body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

nav{
    text-align: center;
}

a{
    padding-left: 10px;
    padding-right: 10px;
    background-color: gray;
}

#featured-property figcaption{

    text-align: center;
    text-size-adjust: 80%;

}

#featured-property p{

    width: 800px;
    margin: auto;
    text-align: center;
}

#details div {
  float: left;
  background: red;
  width: 25%;
  text-align: center;
  }